<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>packagesw-mini.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B5725D4E1EF90DF400C4BA1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5725D651EF90DF400C4BA1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5725D701EF90DF400C4BA1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
